:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

.container{
    width:600px;
    margin : 0 auto;
    background-color: #ddd;
   
    padding: 50px;
}
.form-control{
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
}
.form-control label{
    margin-right:10px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}
.form-control input{
    width:70%;
    padding:10px;
    border:2px solid #f0f0f0;
    font-size: 15px;
    border-radius: 5px;
    
}
.form-control input[type="submit"]{
    width: 50%;
    
}
.form-control input:focus{
    border-color: red;
    outline:none;
}
.form-control input.success{
    border-color: var(--success-color);
}
.form-control input.error{
    border-color: var(--error-color);
}
.form-control small{
    color: var(--error-color);
    position: absolute;
    left:5px;
    bottom:-10px;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
.form-control button{
    background-color: #3498db;
    cursor: pointer;
    border: 2px solid #3498db;
    color:#fff;
    border-radius: 4px;
    display: block;
    padding:10px;
    font-size: 16px;
    margin-top:10px;
    width:50%;
}
